<div class="grid-x grid-padding-x ticket">
    <div class="large-12 medium-12 cell">
        <h5>Extreme Ticket Generator</h5>
        <form>
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <label>Greeting</label>
                    <input type="text" placeholder="Greeting" id="greeting"/>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-4 medium-4 cell">
                    <label>First Name</label>
                    <input type="text" placeholder="first name" id="fname"/>
                </div>
                <div class="large-4 medium-4 cell">
                    <label>Last Name</label>
                    <input type="text" placeholder="last name" id="lname"/>
                </div>
                <div class="large-2 medium-2 cell">
                    <label>State</label>
                    <select id="state">
                        <option value="al">AL</option>
                        <option value="ak">AK</option>
                        <option value="az">AZ</option>
                        <option value="ar">AR</option>
                        <option value="ca">CA</option>
                        <option value="co">CO</option>
                        <option value="ct">CT</option>
                        <option value="de">DE</option>
                        <option value="fl">FL</option>
                        <option value="ga">GA</option>
                        <option value="hi">HI</option>
                        <option value="id">ID</option>
                        <option value="il">IL</option>
                        <option value="in">IN</option>
                        <option value="ia">IA</option>
                        <option value="ks">KS</option>
                        <option value="ky">KY</option>
                        <option value="la">LA</option>
                        <option value="me">ME</option>
                        <option value="md">MD</option>
                        <option value="ma">MA</option>
                        <option value="mi">MI</option>
                        <option value="mn">MN</option>
                        <option value="ms">MS</option>
                        <option value="mo">MO</option>
                        <option value="mt">MT</option>
                        <option value="ne">NE</option>
                        <option value="nv">NV</option>
                        <option value="nh">NH</option>
                        <option value="nj">NJ</option>
                        <option value="nm">NM</option>
                        <option value="ny">NY</option>
                        <option value="nc">NC</option>
                        <option value="nd">ND</option>
                        <option value="oh">OH</option>
                        <option value="ok">OK</option>
                        <option value="or">OR</option>
                        <option value="pa">PA</option>
                        <option value="ri">RI</option>
                        <option value="sc">SC</option>
                        <option value="sd">SD</option>
                        <option value="tn">TN</option>
                        <option value="tx">TX</option>
                        <option value="ut">UT</option>
                        <option value="vt">VT</option>
                        <option value="va">VA</option>
                        <option value=""wa>WA</option>
                        <option value="wv">WV</option>
                        <option value="wi">WI</option>
                        <option value="wy">WY</option>
                    </select>
                </div>
                <div class="large-2 medium-2 cell">
                    <label>Store Number</label>
                    <input type="text" placeholder="store number" id="site_id"/>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-4 medium-4 cell">
                    <label>Telephone</label>
                    <input type="text" placeholder="telephone" id="telephone"/>
                </div>
                <div class="large-4 medium-4 cell">
                    <label>Email</label>
                    <input type="text" placeholder="email" id="email"/>
                </div>
                <div class="large-4 medium-4 cell">
                    <label>Role</label>
                    <select id="role">
                        <option value="owner">Owner</option>
                        <option value="area_supervisor">Area Supervisor</option>
                        <option value="store_manager">Store Manager</option>
                        <option value="assistant_manager">Assistant Manager</option>
                        <option value="shift_supervisor">Shift Supervisor</option>
                        <option value="crew">Crew</option>
                    </select>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-6 cell">
                    <label>Issue</label>
                    <textarea placeholder="Issue..." id="issue"></textarea>
                </div>
                <div class="large-6 cell">
                    <label>Troubleshooting steps completed</label>
                    <textarea placeholder="Troubleshooting performed by the site..." id="troubleshooting"></textarea>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <label>Comments/Notes</label>
                    <textarea placeholder="Enter additional comments here..." id="comment"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>