<div class="grid-x grid-padding-x ticket">
    <div class="large-12 medium-12 cell">
        <h5>Extreme Ticket Generator</h5>
        <form>
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <label>Greeting</label>
                    <input type="text" placeholder="Greeting" id="greeting"/>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-4 medium-4 cell">
                    <label>Name</label>
                    <input type="text" placeholder="Name" id="name"/>
                </div>
                <div class="large-4 medium-4 cell">
                    <label>State</label>
                    <input type="text" placeholder="Name" id="state"/>
                </div>
                <div class="large-4 medium-4 cell">
                    <label>Store Number</label>
                    <input type="text" placeholder="Store Number id="site_id"/>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-4 medium-4 cell">
                    <label>Telephone</label>
                    <input type="text" placeholder="Telephone" id="telephone"/>
                </div>
                <div class="large-4 medium-4 cell">
                    <label>Email</label>
                    <input type="text" placeholder="Email" id="email"/>
                </div>
                <div class="large-4 medium-4 cell">
                    <label>Role</label>
                    <select id="role">
                        <option value="owner">Owner</option>
                        <option value="area_supervisor">Area Supervisor</option>
                        <option value="store_manager">Store Manager</option>
                        <option value="assistant_manager">Assistant Manager</option>
                        <option value="shift_supervisor">Shift Supervisor</option>
                        <option value="crew">Crew</option>
                    </select>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-6 cell">
                    <label>Issue</label>
                    <textarea placeholder="Issue..." id="issue"></textarea>
                </div>
                <div class="large-6 cell">
                    <label>Troubleshooting steps completed</label>
                    <textarea placeholder="Troubleshooting performed by the site..." id="troubleshooting"></textarea>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-12 cell">
                    <label>Comments/Notes</label>
                    <textarea placeholder="Enter additional comments here..." id="comment"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>